/*
GENERAL
*/

:root {
    --header-height: 60px;
    --aside-width : 150px;
}

/*
HEADER
*/
#main-header {
    height: var(--header-height);
}

/*
MAIN
*/
main {
    height: calc(100vh - var(--header-height));
}

main > aside {
    width: var(--aside-width);
}

main > section {
    width: calc(100% - var(--aside-width));
}

aside {
    background-color: #11273E;
}

/*
RESPONSIVE
*/
@media screen and (min-width: 576px) {

    
}

@media screen and (min-width: 576px) {
    
    
}

@media screen and (min-width: 992px) {
    
    
}